.intro-div {
  font-family: Helvetica, sans-serif;
  background: #4ddbff;
  padding-top: 20px;
  padding-bottom: 10px;
}

.intro-div-inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.intro-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  margin: 120px 20px 20px 100px;
}

.intro-summary-inner {
  width: 525px;
  height: 300px;
  align-items: flex-start;
}

.intro-buffer {
  width: 250px;
  height: 300px;
}

.intro-connect {
  display: flex;
  background: black;
  width: 150px;
  height: 40px;
  border-radius: 40px;
  margin: 0 0 20px 100px;
  color: #4ddbff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
