.upArrow-button {
  z-index: 100;
  position: fixed;
  background-color: #4ddbff;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  cursor: pointer;
}
