/* Home  */
.hme-div {
  position: fixed;
  background-color: #4ddbff;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  cursor: pointer;
}
/* Home  */

/* Introduction  */
.div-intro {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  background-color: #4ddbff;
}
.dv-intro-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
.dv-intro {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  width: 550px;
  height: 300px;
  margin: 120px 0 0 140px;
}
.dv-intro-cnt {
  display: flex;
  background-color: black;
  width: 150px;
  height: 40px;
  border-radius: 40px;
  margin: 0 0 20px 140px;
  color: #4ddbff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* Introduction  */

/* PortfolioProjects */
.div-prj {
  font-family: Helvetica, sans-serif;
}
.div-prjh1 {
  display: flex;
  justify-content: center;
}
.prj-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dv-prj-div {
  width: 430px;
  height: 540px;
}
.d-prjdiv {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}
.d-prjdiv img {
  position: absolute;
  top: 0;
  width: 400px;
  height: 300px;
  overflow: hidden;
}
.dv-prj-div p {
  text-align: center;
}
.d-prjdiv2 {
  margin: 0 auto;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
  cursor: pointer;
}
.d-prjdiv3 {
  margin: 0 auto;
  background-color: #4ddbff;
  color: white;
  border-radius: 5px;
  width: 120px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* PortfolioProjects */

/* Resume */
.div-res {
  background-color: #4ddbff;
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 20px;
}
.div-res h1 {
  display: flex;
  justify-content: center;
}
.res-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div-resdiv {
  width: 550px;
  height: 300px;
  align-items: flex-start;
}
.div-resdiv2 {
  width: 410px;
  height: 480px;
  overflow: hidden;
}
.div-resdiv2 div {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
/* Resume */

/* Contact */
.div-ctc {
  height: 580px;
  font-family: Helvetica, sans-serif;
  padding: 20px;
}
.div-ctc h1 {
  display: flex;
  justify-content: center;
}
.dv2-ctc-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 450px;
}
.dv2-ctc-form {
  position: relative;
}
.ctc-lbl1 {
  position: absolute;
  font-size: 15px;
}
.ctc-inp1 {
  position: absolute;
  font-size: 15px;
  top: 30px;
  left: 0;
}
.ctc-lbl2 {
  position: absolute;
  font-size: 15px;
  top: 70px;
}
.ctc-inp2 {
  position: absolute;
  font-size: 15px;
  left: 0;
  top: 30px;
}
.ctc-lbl3 {
  position: absolute;
  font-size: 15px;
  top: 140px;
}
.ctc-inp3 {
  position: absolute;
  font-size: 15px;
  left: 0;
  top: 30px;
  width: 400px;
  height: 270px;
  resize: both;
}
.ctc-inp4 {
  position: absolute;
  font-size: 15px;
  top: 470px;
  cursor: pointer;
}
/* Contact */

/* Footer  */
.div-ftr {
  background-color: black;
  width: auto;
  height: 100px;
  padding: 20px;
}
.ftr-div {
  display: flex;
  width: 40%;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: auto;
}
.ftr-dv, .ftr-dv2, .ftr-dv3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ddbff;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.ftr-div2 {
  display: flex;
  justify-content: center;
  color: white;
}
/* Footer  */